:root {
  --custom-shadow: 5px 5px 5px black, -4px 10px 5px hsla(270, 50%, 40%, 0.55), 7px 11px 6px lightgrey;
  font-family: verdana;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticTacToeBoard {
  display: grid;
  vertical-align: middle;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  background-color: hsl(270, 50%, 40%);
  padding: 15px 0px 15px 0px;
  justify-content: center;
  align-content: center;
  border-radius: 22.5px;
  width: 700px;
  height: 680px;  
  box-shadow: 2px 2px 50px 4px rgba(0,0,0,0.45);
}

.ticTacToeBoard div {
  background-color: white;
  color: hsl(270, 50%, 40%);
  text-shadow: var(--custom-shadow);
  border-radius: 15px;
  font-size: 10em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: background-color 750ms;
}

.ticTacToeBoard div:hover {
  background-color: rgba(235, 235, 235, 0.8);
  cursor: pointer;
}

.leftSide {
  position: absolute;
  left: 150px;
  top: 220px;
  height: 200px;
  width: 255px;
  border-radius: 12px;
  background-color: hsla(270, 50%, 40%, 0.30);
  padding: 25px 35px 0px 35px;

  display: flex;
  text-align: center;
  font-size: 2em;
  text-shadow: var(--custom-shadow);
  color: hsl(270, 50%, 40%);
  font-weight: bolder;
}

#span1 {
  transform: rotate(-5deg);
}

#currentPlayer {
  position: absolute;
  left: 115px;
  top: 100px;
  color: hsl(270, 50%, 40%);
  text-shadow: var(--custom-shadow);
  font-size: 5.0em;
  transform: rotate(10deg);
}

#resetButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;

  background-color: #a680b8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.85s;
}

#resetButton:hover {
  background-color: hsla(270, 50%, 40%, 0.85);
}

h1 {
  display: flex;
  font-size: 3.5em;
  text-align: center;
  font-family: verdana;
  text-transform: uppercase;
  color: hsl(270, 50%, 40%);
  text-shadow: var(--custom-shadow);
  justify-content: center;
}

@keyframes quickSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

@keyframes slowSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}