:root {
  --custom-shadow: 5px 5px 5px black, -4px 10px 5px hsla(270, 50%, 40%, 0.55), 7px 11px 6px lightgray;
  font-family: verdana;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticTacToeBoard {
  display: grid;
  vertical-align: middle;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  background-color: hsl(270, 50%, 40%);
  padding: 15px 0px 15px 0px;
  justify-content: center;
  align-content: center;
  border-radius: 22.5px;
  width: 700px;
  height: 680px;  
  box-shadow: 2px 2px 50px 4px rgba(0,0,0,0.45);
}

.ticTacToeBoard div {
  background-color: white;
  color: hsl(270, 50%, 40%);
  text-shadow: var(--custom-shadow);
  border-radius: 15px;
  font-size: 10em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: background-color 750ms;
}

.ticTacToeBoard div:hover {
  background-color: rgba(235, 235, 235, 0.8);
  cursor: pointer;
}

.leftSide {
  position: absolute;
  left: 150px;
  top: 220px;
  height: 200px;
  width: 255px;
  border-radius: 12px;
  background-color: hsla(270, 50%, 40%, 0.30);
  padding: 25px 35px 0px 35px;
  box-shadow: 2px 2px 50px 4px rgba(0,0,0,0.45);
  border-style: solid;
  border-width: 1px;
  border-color: hsla(270, 50%, 40%, 0.30);

  display: flex;
  text-align: center;
  font-size: 2em;
  text-shadow: var(--custom-shadow);
  color: hsl(270, 50%, 40%);
  font-weight: bolder;
}

#displayMessage {
  --starting-rotate: rotate(-5deg);
  --ending-rotate: rotate(5deg);
  transform: rotate(-5deg);
}

#currentPlayerDisplay {
  --starting-fontsize: 5.0em;
  --starting-left: 115px;
  --starting-top: 100px;
  --starting-rotate: rotate(10deg);
  --ending-fontsize: 7.2em;
  --ending-left: 60px;
  --ending-top: 75px;
  --ending-rotate: rotate(-4deg);

  position: absolute;
  color: hsl(270, 50%, 40%);
  left: var(--starting-left);
  top: var(--starting-top);
  text-shadow: var(--custom-shadow);
  font-size: var(--starting-fontsize);
  transform: var(--starting-rotate);
}

#resetButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;

  background-color: #a680b8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.85s;
}

#resetButton:hover {
  background-color: hsla(270, 50%, 40%, 0.85);
}

h1 {
  display: flex;
  font-size: 3.5em;
  text-align: center;
  font-family: verdana;
  text-transform: uppercase;
  color: hsl(270, 50%, 40%);
  text-shadow: var(--custom-shadow);
  justify-content: center;
}

@keyframes spin-it {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes smooth-transition {
  from {
    font-size: var(--starting-fontsize, inherit);
    left: var(--starting-left);
    top: var(--starting-top);
    transform: var(--starting-rotate, 0deg);
  }
  
  to {
    font-size: var(--ending-fontsize, inherit);
    left: var(--ending-left);
    top: var(--ending-top);
    transform: var(--ending-rotate, 0deg);
  }
}

@keyframes refocus {
  from {
    filter: blur()
  }

  to {
    transform: rotate(360deg);
  }
}




